<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<div layout:fragment="content">
  <div class="ps-3 pt-2" >
      <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: darkgrey;">
                      <div class="card-body p-5 text-center">

                          <h3 class="mb-5">Sign in</h3>
                          <div th:each="url:${urls}">
                              <button th:if="${url.key=='Google'}"  class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #dd4b39;width: 300px;"
                                      type="submit"><i class="fab fa-google me-2"></i> <a th:href="${url.value}"  style="text-decoration-line: none;color: white">Sign in with google </a></button>
                              <button th:if="${url.key=='keycloak'}" th:href="${url.value}" class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #aab0c2;width: 300px;"
                                      type="submit"><img src="http://localhost:8080/resources/169vn/admin/keycloak.v2/favicon.svg" height="25px" width="25px" type="icon" alt="keycloak"> <a th:href="${url.value}" style="text-decoration-line: none;color: white">Sign in with keycloak</a></button>
                              <button th:if="${url.key=='GitHub'}" th:href="${url.value}" class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #484747;width: 300px;"
                                      type="submit"><i class="fab fa-github me-2"></i><a th:href="${url.value}" style="text-decoration-line: none;color: white">Sign in with GitHub</a></button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

</body>
</html>