<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
  <script href="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.js"></script>
</head>
<body>

<div layout:fragment="content">
  <div class="ps-3 pt-2" >
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2>List of products</h2>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c:${products}">
              <td th:text="${c.id}"></td>
              <td th:text="${c.name}"></td>
              <td th:text="${c.price}"></td>
              <td th:text="${c.quantity}"></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>